.Sidebar {
    border: 1px solid #a2a2a2;
    padding: 10px;
    margin: 5px;
    background-color: #f6f6f6;
    }
.Sidebar a {
    color:#0d4074;
    border-bottom: 1px solid #A1A1A1; 
}
.Sidebar {
    grid-area: s;
}

.Sidebar ul {
    padding-left: 0;
}

.Sidebar ul li {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    font-weight: 800;
}
hr {
    border: 0.5px solid #a2a2a2;
}
